appnope==0.1.0
backcall==0.1.0
certifi==2020.12.5
cloudpickle==1.6.0
decorator==4.4.2
future==0.18.2
gym==0.18.0
ipykernel==5.2.0
ipython==7.13.0
ipython-genutils==0.2.0
jedi==0.16.0
jupyter-client==6.1.2
jupyter-core==4.6.3
numpy==1.19.5
parso==0.6.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
prompt-toolkit==3.0.5
ptyprocess==0.6.0
pyglet==1.5.0
Pygments==2.6.1
python-dateutil==2.8.1
pyzmq==19.0.0
scipy==1.5.4
tornado==6.0.4
traitlets==4.3.3
wcwidth==0.1.9
sklearn
gensim
torch
transformers